━━━ Toxic Comments Detail ━━━
content.js:116 🔴 [3] "Its so painfully clear which side is educated its funny"
content.js:117 Labels fired: Array(4)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████ 0.2523 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0045 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0141
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0107 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0089
content.js:122   identity_hate   ██░░░░░░░░░░░░░░░░░░ 0.0118 ← FIRED
content.js:116 🔴 [4] ""We're here to reproduce " are you a machine?"
content.js:117 Labels fired: Array(4)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████ 0.2373 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0043 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0131
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0102 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0083
content.js:122   identity_hate   ██░░░░░░░░░░░░░░░░░░ 0.0111 ← FIRED
content.js:116 🔴 [5] "my blood pressure is getting high watching this. respect to the feminists women "
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           █████████████████████████████████████████████████████████████ 0.3052 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0060 ← FIRED
content.js:122   obscene         ████░░░░░░░░░░░░░░░░ 0.0197 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0135 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0119 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0156 ← FIRED
content.js:116 🔴 [8] ""there is space for YOU in OUR movement, but there is no space for US in YOURS" "
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████████████████ 0.3111 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0064 ← FIRED
content.js:122   obscene         ████░░░░░░░░░░░░░░░░ 0.0211 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0141 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0127 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0165 ← FIRED
content.js:116 🔴 [9] "I love the corset girl’s opinions. She has great arguments and counterarguments"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ████████████████████████████████████████████████████████ 0.2782 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0051 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0164 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0117 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0100 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0134 ← FIRED
content.js:116 🔴 [11] "The corset lady is a great speaker with GREAT points"
content.js:117 Labels fired: Array(4)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████ 0.2523 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0045 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0141
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0107 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0089
content.js:122   identity_hate   ██░░░░░░░░░░░░░░░░░░ 0.0118 ← FIRED
content.js:116 🔴 [12] "THE FEMINISTS HERE ARE TOO CHILL AND CALM  I COULD NEVER"
content.js:117 Labels fired: Array(5)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████ 0.2728 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0048 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0149
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0113 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0095 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0127 ← FIRED
content.js:116 🔴 [13] ""can i talk or are you going to keep interrupting me?" proceeds to interrupt pi"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████████████████ 0.3076 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0064 ← FIRED
content.js:122   obscene         ████░░░░░░░░░░░░░░░░ 0.0215 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0140 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0127 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0166 ← FIRED
content.js:116 🔴 [14] "The girl with the pink hair is spitting facts tbh"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████ 0.2728 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0049 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0156 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0113 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0096 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0129 ← FIRED
content.js:116 🔴 [15] "Help this is just the feminists gentle parenting the anti feminists"
content.js:117 Labels fired: Array(5)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████ 0.2728 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0048 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0149
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0113 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0095 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0127 ← FIRED
content.js:116 🔴 [16] ""Im not a feminist" is here to speak about their opinions"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████ 0.2728 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0049 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0156 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0113 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0096 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0129 ← FIRED
content.js:116 🔴 [17] "The anti feminist girl literally said “There is a difference between black peopl"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████████████████████ 0.3275 ← FIRED
content.js:122   severe_toxic    ██░░░░░░░░░░░░░░░░░░ 0.0076 ← FIRED
content.js:122   obscene         █████░░░░░░░░░░░░░░░ 0.0256 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0160 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0151 ← FIRED
content.js:122   identity_hate   ████░░░░░░░░░░░░░░░░ 0.0196 ← FIRED
content.js:116 🔴 [18] "Saying you’re not a feminist while being covered in tattoos, wearing jeans, havi"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████████ 0.2693 ← FIRED
content.js:122   severe_toxic    ██░░░░░░░░░░░░░░░░░░ 0.0082 ← FIRED
content.js:122   obscene         ██████░░░░░░░░░░░░░░ 0.0297 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0153 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0146 ← FIRED
content.js:122   identity_hate   ████░░░░░░░░░░░░░░░░ 0.0187 ← FIRED
content.js:116 🔴 [19] "Make the anti-feminists sit with mysogynistic men and watch how they all slowly "
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████████████████ 0.3076 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0064 ← FIRED
content.js:122   obscene         ████░░░░░░░░░░░░░░░░ 0.0215 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0140 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0127 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0166 ← FIRED
content.js:116 🔴 [20] "I don’t even know why I clicked, I love getting rage bait I guess"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ████████████████████████████████████████████████████████ 0.2815 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0052 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0174 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0119 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0103 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0137 ← FIRED
content.js:131 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
━━━ Toxic Comments Detail ━━━
content.js:116 🔴 [3] "Its so painfully clear which side is educated its funny"
content.js:117 Labels fired: Array(4)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████ 0.2523 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0045 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0141
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0107 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0089
content.js:122   identity_hate   ██░░░░░░░░░░░░░░░░░░ 0.0118 ← FIRED
content.js:116 🔴 [4] ""We're here to reproduce " are you a machine?"
content.js:117 Labels fired: Array(4)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████ 0.2373 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0043 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0131
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0102 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0083
content.js:122   identity_hate   ██░░░░░░░░░░░░░░░░░░ 0.0111 ← FIRED
content.js:116 🔴 [5] "my blood pressure is getting high watching this. respect to the feminists women "
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           █████████████████████████████████████████████████████████████ 0.3052 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0060 ← FIRED
content.js:122   obscene         ████░░░░░░░░░░░░░░░░ 0.0197 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0135 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0119 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0156 ← FIRED
content.js:116 🔴 [8] ""there is space for YOU in OUR movement, but there is no space for US in YOURS" "
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████████████████ 0.3111 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0064 ← FIRED
content.js:122   obscene         ████░░░░░░░░░░░░░░░░ 0.0211 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0141 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0127 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0165 ← FIRED
content.js:116 🔴 [9] "I love the corset girl’s opinions. She has great arguments and counterarguments"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ████████████████████████████████████████████████████████ 0.2782 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0051 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0164 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0117 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0100 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0134 ← FIRED
content.js:116 🔴 [11] "The corset lady is a great speaker with GREAT points"
content.js:117 Labels fired: Array(4)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████ 0.2523 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0045 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0141
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0107 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0089
content.js:122   identity_hate   ██░░░░░░░░░░░░░░░░░░ 0.0118 ← FIRED
content.js:116 🔴 [12] "THE FEMINISTS HERE ARE TOO CHILL AND CALM  I COULD NEVER"
content.js:117 Labels fired: Array(5)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████ 0.2728 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0048 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0149
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0113 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0095 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0127 ← FIRED
content.js:116 🔴 [13] ""can i talk or are you going to keep interrupting me?" proceeds to interrupt pi"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████████████████ 0.3076 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0064 ← FIRED
content.js:122   obscene         ████░░░░░░░░░░░░░░░░ 0.0215 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0140 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0127 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0166 ← FIRED
content.js:116 🔴 [14] "The girl with the pink hair is spitting facts tbh"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████ 0.2728 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0049 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0156 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0113 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0096 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0129 ← FIRED
content.js:116 🔴 [15] "Help this is just the feminists gentle parenting the anti feminists"
content.js:117 Labels fired: Array(5)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████ 0.2728 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0048 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0149
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0113 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0095 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0127 ← FIRED
content.js:116 🔴 [16] ""Im not a feminist" is here to speak about their opinions"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████ 0.2728 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0049 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0156 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0113 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0096 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0129 ← FIRED
content.js:116 🔴 [17] "The anti feminist girl literally said “There is a difference between black peopl"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████████████████████ 0.3275 ← FIRED
content.js:122   severe_toxic    ██░░░░░░░░░░░░░░░░░░ 0.0076 ← FIRED
content.js:122   obscene         █████░░░░░░░░░░░░░░░ 0.0256 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0160 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0151 ← FIRED
content.js:122   identity_hate   ████░░░░░░░░░░░░░░░░ 0.0196 ← FIRED
content.js:116 🔴 [18] "Saying you’re not a feminist while being covered in tattoos, wearing jeans, havi"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████████ 0.2693 ← FIRED
content.js:122   severe_toxic    ██░░░░░░░░░░░░░░░░░░ 0.0082 ← FIRED
content.js:122   obscene         ██████░░░░░░░░░░░░░░ 0.0297 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0153 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0146 ← FIRED
content.js:122   identity_hate   ████░░░░░░░░░░░░░░░░ 0.0187 ← FIRED
content.js:116 🔴 [19] "Make the anti-feminists sit with mysogynistic men and watch how they all slowly "
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████████████████ 0.3076 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0064 ← FIRED
content.js:122   obscene         ████░░░░░░░░░░░░░░░░ 0.0215 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0140 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0127 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0166 ← FIRED
content.js:116 🔴 [20] "I don’t even know why I clicked, I love getting rage bait I guess"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ████████████████████████████████████████████████████████ 0.2815 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0052 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0174 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0119 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0103 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0137 ← FIRED
content.js:116 🔴 [21] ""We are not feminist" how tf can someone be against their own rights"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ████████████████████████████████████████████████████████ 0.2782 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0051 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0164 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0117 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0100 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0134 ← FIRED
content.js:116 🔴 [22] "This debate made me realize I’m firmly a feminist."
content.js:117 Labels fired: Array(4)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████ 0.2523 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0045 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0141
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0107 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0089
content.js:122   identity_hate   ██░░░░░░░░░░░░░░░░░░ 0.0118 ← FIRED
content.js:116 🔴 [23] "the concept of women of color being anti feminists is sending me out"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ████████████████████████████████████████████████████████ 0.2782 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0051 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0164 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0117 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0100 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0134 ← FIRED
content.js:116 🔴 [24] "the corset lady just gentle parenting the misogynists is lilling me i love herrr"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████ 0.2770 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0051 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0167 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0116 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0100 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0133 ← FIRED
content.js:116 🔴 [25] "The anti-feminist group is giving those girls on TikTok who say " I'm not a femi"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████████████████ 0.3076 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0064 ← FIRED
content.js:122   obscene         ████░░░░░░░░░░░░░░░░ 0.0215 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0140 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0127 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0166 ← FIRED
content.js:116 🔴 [26] "i got ragebaited so bad by the "that was racist" woman"
content.js:117 Labels fired: Array(5)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████ 0.2728 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0048 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0149
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0113 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0095 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0127 ← FIRED
content.js:116 🔴 [27] "Felt like the anti feminists are actually anti women and pro men."
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████ 0.2728 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0049 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0156 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0113 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0096 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0129 ← FIRED
content.js:116 🔴 [28] "I’m a black woman and I DID NOT think the lady in pink hair said anything racist"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████████████████ 0.3111 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0064 ← FIRED
content.js:122   obscene         ████░░░░░░░░░░░░░░░░ 0.0211 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0141 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0127 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0165 ← FIRED
content.js:116 🔴 [29] ""It's women who actually disrupt family" r we being fr now"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████ 0.2728 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0049 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0156 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0113 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0096 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0129 ← FIRED
content.js:116 🔴 [30] "The anti feminist people ragebaited me so bad"
content.js:117 Labels fired: Array(3)
content.js:118 All probabilities:
content.js:122   toxic           ████████████████████████████████████████████ 0.2215 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0041 ← FIRED
content.js:122   obscene         ██░░░░░░░░░░░░░░░░░░ 0.0122
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0097
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0077
content.js:122   identity_hate   ██░░░░░░░░░░░░░░░░░░ 0.0103 ← FIRED
content.js:116 🔴 [31] "Stop calling them “anti feminists”, they’re misogynists. Call them what they are"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ████████████████████████████████████████████████████████ 0.2782 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0051 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0164 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0117 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0100 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0134 ← FIRED
content.js:116 🔴 [33] "i wonder how much gaslighting it took for these women to become anti feminists l"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████████ 0.2942 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0057 ← FIRED
content.js:122   obscene         ████░░░░░░░░░░░░░░░░ 0.0188 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0127 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0112 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0148 ← FIRED
content.js:116 🔴 [34] "Black woman here. The lady in the pink hair did NOT say anything racist."
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████ 0.2770 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0051 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0167 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0116 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0100 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0133 ← FIRED
content.js:116 🔴 [35] "15:07 “can i speak” yes u can thanks to the feminists who fought for u to speak "
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████████████ 0.3149 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0068 ← FIRED
content.js:122   obscene         █████░░░░░░░░░░░░░░░ 0.0226 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0145 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0134 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0174 ← FIRED
content.js:116 🔴 [36] "Black man here. Punk hair lady was speaking on intersectionality. What she said "
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████████ 0.2942 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0057 ← FIRED
content.js:122   obscene         ████░░░░░░░░░░░░░░░░ 0.0188 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0127 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0112 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0148 ← FIRED
content.js:116 🔴 [37] "The title literally should be "Educated vs Uneducated"."
content.js:117 Labels fired: Array(3)
content.js:118 All probabilities:
content.js:122   toxic           ████████████████████████████████████████████ 0.2215 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0041 ← FIRED
content.js:122   obscene         ██░░░░░░░░░░░░░░░░░░ 0.0122
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0097
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0077
content.js:122   identity_hate   ██░░░░░░░░░░░░░░░░░░ 0.0103 ← FIRED
content.js:116 🔴 [38] ""why can't yall be good women and enjoy the roles that we're supposed to play." "
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████████████████████ 0.3286 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0073 ← FIRED
content.js:122   obscene         █████░░░░░░░░░░░░░░░ 0.0239 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0156 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0145 ← FIRED
content.js:122   identity_hate   ████░░░░░░░░░░░░░░░░ 0.0188 ← FIRED
content.js:116 🔴 [39] ""Men Protect us""Who they protect us from?" "Other Men"Nailed it"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████ 0.2728 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0049 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0156 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0113 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0096 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0129 ← FIRED
content.js:116 🔴 [40] "Girl if having a job is the ONLY reason yall got divorced then yalls marriage wa"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████████████████ 0.3076 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0064 ← FIRED
content.js:122   obscene         ████░░░░░░░░░░░░░░░░ 0.0215 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0140 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0127 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0166 ← FIRED
content.js:131 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
━━━ Toxic Comments Detail ━━━
content.js:116 🔴 [1] "For the life of me, even as a 40yo woman, I can not understand this jealousy tha"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████████████ 0.3149 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0068 ← FIRED
content.js:122   obscene         █████░░░░░░░░░░░░░░░ 0.0226 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0145 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0134 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0174 ← FIRED
content.js:116 🔴 [2] "I worked on offshore rigs for 5 years.  There were women on board...  2 nurses a"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████████████████ 0.3111 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0064 ← FIRED
content.js:122   obscene         ████░░░░░░░░░░░░░░░░ 0.0211 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0141 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0127 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0165 ← FIRED
content.js:116 🔴 [3] "These women listening to Rachel - "That's not what our gender studies teachers t"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ████████████████████████████████████████████████████████ 0.2815 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0052 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0174 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0119 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0103 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0137 ← FIRED
content.js:116 🔴 [4] "Rachel Wilson is an example for women of a woman that men actually would love to"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           █████████████████████████████████████████████████████████████████ 0.3242 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0074 ← FIRED
content.js:122   obscene         █████░░░░░░░░░░░░░░░ 0.0247 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0156 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0147 ← FIRED
content.js:122   identity_hate   ████░░░░░░░░░░░░░░░░ 0.0190 ← FIRED
content.js:116 🔴 [5] "Worked at a men's prison for 25+ years. The hiring of women has increased signif"
content.js:117 Labels fired: Array(5)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████ 0.1898
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0073 ← FIRED
content.js:122   obscene         ███████░░░░░░░░░░░░░ 0.0336 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0119 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0115 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0154 ← FIRED
content.js:116 🔴 [6] "Did this chick really just compare evicting female tenant with paperwork to batt"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████████████████ 0.3111 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0064 ← FIRED
content.js:122   obscene         ████░░░░░░░░░░░░░░░░ 0.0211 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0141 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0127 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0165 ← FIRED
content.js:116 🔴 [7] "I love how they get visibly uncomfortable when faced with the truth....they can'"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████████████████ 0.3076 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0064 ← FIRED
content.js:122   obscene         ████░░░░░░░░░░░░░░░░ 0.0215 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0140 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0127 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0166 ← FIRED
content.js:116 🔴 [9] "Women spend most of the time at work TALKING."
content.js:117 Labels fired: Array(4)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████ 0.2373 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0043 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0131
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0102 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0083
content.js:122   identity_hate   ██░░░░░░░░░░░░░░░░░░ 0.0111 ← FIRED
content.js:116 🔴 [10] "Lady in the PINK: "We talk about equality, the only equality women have is the i"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ████████████████████████████████████████████████████████████████ 0.3198 ← FIRED
content.js:122   severe_toxic    ██░░░░░░░░░░░░░░░░░░ 0.0080 ← FIRED
content.js:122   obscene         ██████░░░░░░░░░░░░░░ 0.0275 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0163 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0156 ← FIRED
content.js:122   identity_hate   ████░░░░░░░░░░░░░░░░ 0.0199 ← FIRED
content.js:116 🔴 [12] "Her example was Hollywood.  A scripted reality show.  You can't make this ish up"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████ 0.2770 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0051 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0167 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0116 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0100 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0133 ← FIRED
content.js:116 🔴 [13] "If men could only opt out of the draft if it wasn't "their thing".."
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ████████████████████████████████████████████████████████ 0.2815 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0052 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0174 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0119 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0103 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0137 ← FIRED
content.js:116 🔴 [14] "When the ship starts sinking, feminism goes out the window."
content.js:117 Labels fired: Array(4)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████ 0.2523 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0045 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0141
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0107 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0089
content.js:122   identity_hate   ██░░░░░░░░░░░░░░░░░░ 0.0118 ← FIRED
content.js:116 🔴 [15] "I'm very close with a soldier who fought with Kurdish militia groups against ISI"
content.js:117 Labels fired: Array(5)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████ 0.1898
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0073 ← FIRED
content.js:122   obscene         ███████░░░░░░░░░░░░░ 0.0336 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0119 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0115 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0154 ← FIRED
content.js:116 🔴 [16] "Within 30 seconds a woman makes immediately clear she doesn’t know what the draf"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           █████████████████████████████████████████████████████████████ 0.3052 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0060 ← FIRED
content.js:122   obscene         ████░░░░░░░░░░░░░░░░ 0.0197 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0135 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0119 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0156 ← FIRED
content.js:116 🔴 [17] "there was only a woman cop BECAUSE there was also a man cop."
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ████████████████████████████████████████████████████████ 0.2782 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0051 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0164 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0117 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0100 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0134 ← FIRED
content.js:116 🔴 [18] "This is why I'm done dating. There's ALWAYS an argument, there's ALWAYS a prepos"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           █████████████████████████████████████████████████████████████████ 0.3242 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0074 ← FIRED
content.js:122   obscene         █████░░░░░░░░░░░░░░░ 0.0247 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0156 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0147 ← FIRED
content.js:122   identity_hate   ████░░░░░░░░░░░░░░░░ 0.0190 ← FIRED
content.js:116 🔴 [19] "The silence from this many women sitting around a table on this particular topic"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           █████████████████████████████████████████████████████████████ 0.3035 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0060 ← FIRED
content.js:122   obscene         ████░░░░░░░░░░░░░░░░ 0.0200 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0134 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0119 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0157 ← FIRED
content.js:116 🔴 [20] "If women could do all the things men do, they woild be now and would have been f"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           █████████████████████████████████████████████████████████████ 0.3035 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0060 ← FIRED
content.js:122   obscene         ████░░░░░░░░░░░░░░░░ 0.0200 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0134 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0119 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0157 ← FIRED
content.js:116 🔴 [21] "If you vote... you should be forced to register... period."
content.js:117 Labels fired: Array(4)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████ 0.2523 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0045 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0141
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0107 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0089
content.js:122   identity_hate   ██░░░░░░░░░░░░░░░░░░ 0.0118 ← FIRED
content.js:116 🔴 [22] "I dated a girl that was pretty feminist. She had just graduated college and was "
content.js:117 Labels fired: Array(5)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████ 0.1898
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0073 ← FIRED
content.js:122   obscene         ███████░░░░░░░░░░░░░ 0.0336 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0119 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0115 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0154 ← FIRED
content.js:116 🔴 [23] "Not all men were able to vote either"
content.js:117 Labels fired: Array(3)
content.js:118 All probabilities:
content.js:122   toxic           ████████████████████████████████████████████ 0.2215 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0041 ← FIRED
content.js:122   obscene         ██░░░░░░░░░░░░░░░░░░ 0.0122
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0097
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0077
content.js:122   identity_hate   ██░░░░░░░░░░░░░░░░░░ 0.0103 ← FIRED
content.js:116 🔴 [24] "What if when a “women’s march” for equality happened and the men just said NO. W"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████████████████████ 0.3286 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0073 ← FIRED
content.js:122   obscene         █████░░░░░░░░░░░░░░░ 0.0239 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0156 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0145 ← FIRED
content.js:122   identity_hate   ████░░░░░░░░░░░░░░░░ 0.0188 ← FIRED
content.js:116 🔴 [26] "She got her on the eviction point. You could hear the woman draw out her answer,"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████ 0.2519 ← FIRED
content.js:122   severe_toxic    ██░░░░░░░░░░░░░░░░░░ 0.0084 ← FIRED
content.js:122   obscene         ██████░░░░░░░░░░░░░░ 0.0310 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0152 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0144 ← FIRED
content.js:122   identity_hate   ████░░░░░░░░░░░░░░░░ 0.0187 ← FIRED
content.js:116 🔴 [27] "" I know some women that could handle it" NoYouDont"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████ 0.2728 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0049 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0156 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0113 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0096 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0129 ← FIRED
content.js:116 🔴 [28] "It is noticeable that the girl arguing with Rachel is looking for excuses at all"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████████████ 0.3149 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0068 ← FIRED
content.js:122   obscene         █████░░░░░░░░░░░░░░░ 0.0226 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0145 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0134 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0174 ← FIRED
content.js:116 🔴 [29] "8:30 "and, uh, umm" shes trying to look for a way to be right instead of admitti"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████████████ 0.3149 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0068 ← FIRED
content.js:122   obscene         █████░░░░░░░░░░░░░░░ 0.0226 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0145 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0134 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0174 ← FIRED
content.js:116 🔴 [30] "10:44 the only equality is the equality provided for by men. Um why would women "
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ████████████████████████████████████████████████████████████ 0.3008 ← FIRED
content.js:122   severe_toxic    ██░░░░░░░░░░░░░░░░░░ 0.0083 ← FIRED
content.js:122   obscene         ██████░░░░░░░░░░░░░░ 0.0293 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0162 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0157 ← FIRED
content.js:122   identity_hate   ████░░░░░░░░░░░░░░░░ 0.0200 ← FIRED
content.js:116 🔴 [31] "Women didn't own property mostly because of debt and debtors prisons. So it's no"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ████████████████████████████████████████████████████ 0.2584 ← FIRED
content.js:122   severe_toxic    ██░░░░░░░░░░░░░░░░░░ 0.0084 ← FIRED
content.js:122   obscene         ██████░░░░░░░░░░░░░░ 0.0310 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0153 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0147 ← FIRED
content.js:122   identity_hate   ████░░░░░░░░░░░░░░░░ 0.0190 ← FIRED
content.js:116 🔴 [32] "I'm a landscaper in AZ. Not one female has applied for a job in  6 years. Men do"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████████████████ 0.3110 ← FIRED
content.js:122   severe_toxic    ██░░░░░░░░░░░░░░░░░░ 0.0085 ← FIRED
content.js:122   obscene         ██████░░░░░░░░░░░░░░ 0.0297 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0168 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0163 ← FIRED
content.js:122   identity_hate   ████░░░░░░░░░░░░░░░░ 0.0207 ← FIRED
content.js:116 🔴 [33] "‘’Why does that make us more emotional?’’ In the most emotional tone she’s sound"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           █████████████████████████████████████████████████████████████ 0.3052 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0060 ← FIRED
content.js:122   obscene         ████░░░░░░░░░░░░░░░░ 0.0197 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0135 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0119 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0156 ← FIRED
content.js:116 🔴 [34] "It’s incredible to watch the mental gymnastics a seemingly intelligent person ca"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           █████████████████████████████████████████████████████████████████ 0.3257 ← FIRED
content.js:122   severe_toxic    ██░░░░░░░░░░░░░░░░░░ 0.0081 ← FIRED
content.js:122   obscene         █████░░░░░░░░░░░░░░░ 0.0274 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0165 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0157 ← FIRED
content.js:122   identity_hate   ████░░░░░░░░░░░░░░░░ 0.0202 ← FIRED
content.js:116 🔴 [35] "Commercial roofer. The MOST dangerous job. Underwater welding is cute."
content.js:117 Labels fired: Array(4)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████ 0.2523 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0045 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0141
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0107 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0089
content.js:122   identity_hate   ██░░░░░░░░░░░░░░░░░░ 0.0118 ← FIRED
content.js:116 🔴 [36] "“I took her to court. I got the papers. I won” Dude she doesn’t understand wha"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████████████████ 0.3327 ← FIRED
content.js:122   severe_toxic    ██░░░░░░░░░░░░░░░░░░ 0.0081 ← FIRED
content.js:122   obscene         █████░░░░░░░░░░░░░░░ 0.0272 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0167 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0159 ← FIRED
content.js:122   identity_hate   ████░░░░░░░░░░░░░░░░ 0.0205 ← FIRED
content.js:116 🔴 [37] "Rachel Wilson - all the benefits of Andrew Wilson + she gets respect from the pa"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████████████████ 0.3110 ← FIRED
content.js:122   severe_toxic    ██░░░░░░░░░░░░░░░░░░ 0.0085 ← FIRED
content.js:122   obscene         ██████░░░░░░░░░░░░░░ 0.0297 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0168 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0163 ← FIRED
content.js:122   identity_hate   ████░░░░░░░░░░░░░░░░ 0.0207 ← FIRED
content.js:116 🔴 [38] "This chick takes in all these amazing facts, logic and reason and KEEPS trying t"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           █████████████████████████████████████████████████████ 0.2660 ← FIRED
content.js:122   severe_toxic    ██░░░░░░░░░░░░░░░░░░ 0.0085 ← FIRED
content.js:122   obscene         ██████░░░░░░░░░░░░░░ 0.0308 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0156 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0149 ← FIRED
content.js:122   identity_hate   ████░░░░░░░░░░░░░░░░ 0.0192 ← FIRED
content.js:116 🔴 [39] "Doesn’t believe in god but believes in reality tv"
content.js:117 Labels fired: Array(4)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████ 0.2523 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0045 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0141
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0107 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0089
content.js:122   identity_hate   ██░░░░░░░░░░░░░░░░░░ 0.0118 ← FIRED
content.js:116 🔴 [40] "21:08 I cannot feel sorry enough for the simp that dates this woman. 20 minutes "
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           █████████████████████████████████████████████████████████████████ 0.3257 ← FIRED
content.js:122   severe_toxic    ██░░░░░░░░░░░░░░░░░░ 0.0081 ← FIRED
content.js:122   obscene         █████░░░░░░░░░░░░░░░ 0.0274 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0165 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0157 ← FIRED
content.js:122   identity_hate   ████░░░░░░░░░░░░░░░░ 0.0202 ← FIRED
content.js:116 🔴 [41] "I am so sick of these girls saying that women were not allowed ti iwn property. "
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           █████████████████████████████████████████████████████████████████ 0.3242 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0074 ← FIRED
content.js:122   obscene         █████░░░░░░░░░░░░░░░ 0.0247 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0156 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0147 ← FIRED
content.js:122   identity_hate   ████░░░░░░░░░░░░░░░░ 0.0190 ← FIRED
content.js:116 🔴 [42] "lol they didn't need HR 100 years ago. When women went on a mass labor strike re"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           █████████████████████████████████████████████████████████████████ 0.3236 ← FIRED
content.js:122   severe_toxic    ██░░░░░░░░░░░░░░░░░░ 0.0083 ← FIRED
content.js:122   obscene         ██████░░░░░░░░░░░░░░ 0.0288 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0168 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0162 ← FIRED
content.js:122   identity_hate   ████░░░░░░░░░░░░░░░░ 0.0205 ← FIRED
content.js:116 🔴 [43] "That girl is deluded She wanted to use stats then didn’t want to use stats just"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           █████████████████████████████████████████████████████ 0.2660 ← FIRED
content.js:122   severe_toxic    ██░░░░░░░░░░░░░░░░░░ 0.0085 ← FIRED
content.js:122   obscene         ██████░░░░░░░░░░░░░░ 0.0308 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0156 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0149 ← FIRED
content.js:122   identity_hate   ████░░░░░░░░░░░░░░░░ 0.0192 ← FIRED
content.js:116 🔴 [44] "Rachel has shown me it is possible for women to actually use logic….."
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ████████████████████████████████████████████████████████ 0.2782 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0051 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0164 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0117 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0100 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0134 ← FIRED
content.js:116 🔴 [45] "I've worked in the foundry and the maybe 4 women that worked there held the simp"
content.js:117 Labels fired: Array(5)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████ 0.1885
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0072 ← FIRED
content.js:122   obscene         ███████░░░░░░░░░░░░░ 0.0333 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0118 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0114 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0152 ← FIRED
content.js:116 🔴 [46] "We need Rachel more on the show. The women are more engaged"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████ 0.2728 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0049 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0156 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0113 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0096 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0129 ← FIRED
content.js:116 🔴 [47] "I did it, i got her removed... by calling policemen to enforce my will based on "
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████████████ 0.3149 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0068 ← FIRED
content.js:122   obscene         █████░░░░░░░░░░░░░░░ 0.0226 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0145 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0134 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0174 ← FIRED
content.js:116 🔴 [48] "you don't know a single woman who "could handle that stuff""
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████ 0.2728 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0049 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0156 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0113 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0096 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0129 ← FIRED
content.js:116 🔴 [49] "Even if they wanted to do these jobs, they're physically incapable."
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████ 0.2728 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0049 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0156 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0113 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0096 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0129 ← FIRED
content.js:116 🔴 [50] "Ok. Just boil it down to "if men do not sign the selective service forms when th"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           █████████████████████████████████████████████████████ 0.2646 ← FIRED
content.js:122   severe_toxic    ██░░░░░░░░░░░░░░░░░░ 0.0082 ← FIRED
content.js:122   obscene         ██████░░░░░░░░░░░░░░ 0.0301 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0153 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0145 ← FIRED
content.js:122   identity_hate   ████░░░░░░░░░░░░░░░░ 0.0187 ← FIRED
content.js:116 🔴 [51] "One thing i have realized is that you cannot go against Rachel or Andrew if you "
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████████████████ 0.3111 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0064 ← FIRED
content.js:122   obscene         ████░░░░░░░░░░░░░░░░ 0.0211 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0141 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0127 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0165 ← FIRED
content.js:116 🔴 [52] "This chick just keeps moving the goal post lol"
content.js:117 Labels fired: Array(4)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████ 0.2373 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0043 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0131
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0102 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0083
content.js:122   identity_hate   ██░░░░░░░░░░░░░░░░░░ 0.0111 ← FIRED
content.js:116 🔴 [53] "The feminist guest got all her “facts” from her gender studies professor whereas"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████████████████████ 0.3275 ← FIRED
content.js:122   severe_toxic    ██░░░░░░░░░░░░░░░░░░ 0.0076 ← FIRED
content.js:122   obscene         █████░░░░░░░░░░░░░░░ 0.0256 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0160 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0151 ← FIRED
content.js:122   identity_hate   ████░░░░░░░░░░░░░░░░ 0.0196 ← FIRED
content.js:116 🔴 [54] "18:38 - “it took years for me to get diagnosed with chronic illness.” ️ that’s l"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ██████████████████████████████████████████████████████████████ 0.3111 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0064 ← FIRED
content.js:122   obscene         ████░░░░░░░░░░░░░░░░ 0.0211 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0141 ← FIRED
content.js:122   insult          ███░░░░░░░░░░░░░░░░░ 0.0127 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0165 ← FIRED
content.js:116 🔴 [55] "Crazy how all the other chicks are quiet... They know it's complete BS"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████ 0.2770 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0051 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0167 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0116 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0100 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0133 ← FIRED
content.js:116 🔴 [56] "Its so infuriating listening to these ppl my gawd. Its like you ask them a simpl"
content.js:117 Labels fired: Array(5)
content.js:118 All probabilities:
content.js:122   toxic           ████████████████████████████████████████ 0.1992
content.js:122   severe_toxic    ██░░░░░░░░░░░░░░░░░░ 0.0075 ← FIRED
content.js:122   obscene         ██████░░░░░░░░░░░░░░ 0.0302 ← FIRED
content.js:122   threat          ███░░░░░░░░░░░░░░░░░ 0.0128 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0118 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0157 ← FIRED
content.js:116 🔴 [57] "They showed their hypocrisy only 50 seconds in. Gotta be a record."
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ████████████████████████████████████████████████████████ 0.2782 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0051 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0164 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0117 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0100 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0134 ← FIRED
content.js:116 🔴 [58] "They might want to buy an acre of land in Lalaland..."
content.js:117 Labels fired: Array(5)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████ 0.2728 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0048 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0149
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0113 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0095 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0127 ← FIRED
content.js:116 🔴 [59] "There's a lotta choices I wasn't allowed to make"
content.js:117 Labels fired: Array(5)
content.js:118 All probabilities:
content.js:122   toxic           ███████████████████████████████████████████████████████ 0.2728 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0048 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0149
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0113 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0095 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0127 ← FIRED
content.js:116 🔴 [60] "Ive always said if you wanna improve society eliminate birthcontrol an social me"
content.js:117 Labels fired: Array(6)
content.js:118 All probabilities:
content.js:122   toxic           ████████████████████████████████████████████████████████ 0.2815 ← FIRED
content.js:122   severe_toxic    █░░░░░░░░░░░░░░░░░░░ 0.0052 ← FIRED
content.js:122   obscene         ███░░░░░░░░░░░░░░░░░ 0.0174 ← FIRED
content.js:122   threat          ██░░░░░░░░░░░░░░░░░░ 0.0119 ← FIRED
content.js:122   insult          ██░░░░░░░░░░░░░░░░░░ 0.0103 ← FIRED
content.js:122   identity_hate   ███░░░░░░░░░░░░░░░░░ 0.0137 ← FIRED
content.js:131 ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━